$water-color: #4293ec;

.weather-daily {
  display: flex;
  flex-direction: row;

  .table {
    flex-basis: 70%;
    text-align: left;

    .table-body {
      tr {
        td {
          font-size: 100%;
          font-weight: 300;
          .fa-tint {
            color: $water-color;
          }
        }
      }
    }
  }

  .chart-wrapper {
    flex-basis: 30%;
  }
}

//**** MEDIA QUERIES
@media all and (max-width: "1024px") {
  .weather-daily {
    flex-direction: column;

    .table {
      flex-basis: 100%;
    }

    .chart-wrapper {
      flex-basis: 100%;
    }
  }
}
