// Global Configs =========================================
$error-background: #ff3838;

* {
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.error-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: $error-background;
  margin-top: 1rem;
  border-radius: 0.5rem;

  .error-message {
    color: #fff;
    font-size: 120%;
    font-weight: 400;
  }

  .fa-exclamation-circle {
    font-size: 150%;
    color: #fff;
    margin-right: 3rem;
  }
}

//*** MEDIA QUERIES
@media all and (max-width: "768px") {
  .error-wrapper {
    padding: 0.2rem 0.8rem;
    margin-top: 0.5rem;
    .error-message {
      font-size: 100%;
      font-weight: 400;
    }
  }
}
@media all and (max-width: "480px") {
  .error-wrapper {
    padding: 0.1rem 0.5rem;

    .error-message {
      font-size: 90%;
    }

    .fa-exclamation-circle {
      font-size: 100%;
      color: #fff;
      margin-right: 1rem;
    }
  }
}
