* {
  margin: 0;
  padding: 0;
}

*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", IRANSans, sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@-webkit-keyframes transformation {
  0% {
    top: 70%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

@keyframes transformation {
  0% {
    top: 70%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

.popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 200;
  text-align: center;
  -webkit-animation-name: transformation;
          animation-name: transformation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  width: 700px;
}

.popup-wrapper .error-message,
.popup-wrapper .success-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.popup-wrapper .error-message {
  color: #fff;
  background-color: #ff3838;
}

.popup-wrapper .error-message .fa-exclamation-circle {
  font-size: 150%;
  color: #fff;
  margin: 0rem 2rem;
}

.popup-wrapper .success-message {
  color: #fff;
  background-color: #20bf6b;
}

.popup-wrapper .success-message .fa-check-circle {
  font-size: 150%;
  color: #fff;
  margin: 0rem 2rem;
}

.main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-loader .loader-img {
  width: 500px;
}

.fall-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fall-back .loader-img {
  width: 200px;
}

@media all and (max-width: 768px) {
  .popup-wrapper {
    width: 400px;
  }
  .popup-wrapper .error-message,
  .popup-wrapper .success-message {
    font-size: 100%;
    font-weight: 400;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
  }
  .popup-wrapper .error-message .fa-exclamation-circle {
    font-size: 130%;
    margin: 0rem 1rem;
  }
  .popup-wrapper .success-message .fa-check-circle {
    font-size: 130%;
    margin: 0rem 1rem;
  }
}

@media all and (max-width: 480px) {
  .popup-wrapper {
    width: 90%;
  }
  .popup-wrapper .error-message,
  .popup-wrapper .success-message {
    font-size: 90%;
    font-weight: 300;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
  }
  .popup-wrapper .error-message .fa-exclamation-circle {
    font-size: 100%;
    margin: 0rem 0.5rem;
  }
  .popup-wrapper .success-message .fa-check-circle {
    font-size: 100%;
    margin: 0rem 0.5rem;
  }
}
/*# sourceMappingURL=global.css.map */