// Global Configs =========================================
$error-background: #ff3838;
$success-background: #20bf6b;

* {
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@keyframes transformation {
  0% {
    top: 70%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

.popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  text-align: center;
  animation-name: transformation;
  animation-duration: 0.5s;
  width: 80%;

  .error-message,
  .success-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 120%;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }
  .error-message {
    color: #fff;
    background-color: $error-background;

    .fa-exclamation-circle {
      font-size: 150%;
      color: #fff;
      margin-right: 3rem;
    }
  }
  .success-message {
    color: #fff;
    background-color: $success-background;

    .fa-check-circle {
      font-size: 150%;
      color: #fff;
      margin-right: 3rem;
    }
  }
}

.main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .loader-img {
    width: 500px;
  }
}

.fall-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .loader-img {
    width: 200px;
  }
}

//*** MEDIA QUERIES
@media all and (max-width: "768px") {
  .error-wrapper {
    padding: 0.2rem 0.8rem;
    margin-top: 0.5rem;
    .error-message {
      font-size: 100%;
      font-weight: 400;
    }
  }
}
@media all and (max-width: "480px") {
  .error-wrapper {
    padding: 0.1rem 0.5rem;

    .error-message {
      font-size: 90%;
    }

    .fa-exclamation-circle {
      font-size: 100%;
      color: #fff;
      margin-right: 1rem;
    }
  }
}
