$submit-background: #f57f17;
$violet-darker: #110e3c;
$violet-lighter: #1d1d46;

.weather-container {
  width: 100vw;
  height: 100vh;
  //   overflow: hidden;

  .weather-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    width: inherit;
    height: inherit;

    .weather-left {
      flex-basis: 60%;
      background-color: #e3f6fe;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: stretch;

      .form-wrapper {
        width: 100%;
        border-radius: 0.5rem;

        .form {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: stretch;

          .input-group {
            position: relative;

            .fa-search-location {
              position: absolute;
              top: 25%;
              left: 10px;
              font-size: 180%;
              color: $violet-darker;
            }

            .search-input {
              font-size: 100%;
              padding: 1rem 1rem 1rem 3rem;
              border: none;
              outline: none;
              background-color: #fff;
              border-top-left-radius: 0.5rem;
              border-bottom-left-radius: 0.5rem;
            }
          }

          .search-submit {
            font-size: 100%;
            font-weight: 700;
            padding: 1rem;
            border: none;
            outline: none;
            color: #fff;
            background-color: $submit-background;
            cursor: pointer;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
      }

      .main-title-wrapper {
        .main-title-text {
          font-size: 200%;
          font-weight: 400;
          color: $violet-lighter;
          .main-title-text-bold {
            font-weight: 700;
            color: $violet-darker;
          }
        }
      }

      .cities-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .city-item {
          text-align: center;
          width: 100%;
          max-width: 180px;
          height: 100%;

          //   .city-item-link {
          //     text-decoration: none;
          //   }

          .city-img {
            border-radius: 1rem;
            width: 95%;
            cursor: pointer;
          }

          .city-name {
            font-size: 90%;
            font-weight: 700;
            color: $violet-darker;
          }
        }

        .city-add {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          border: 1px solid $violet-darker;
          border-radius: 1rem;
          height: 90%;

          .city-add-text {
            font-size: 110%;
            font-weight: 400;
          }
        }
      }

      .daily {
        .daily-title {
          .daily-title-text {
            font-size: 130%;
            font-weight: 400;
            color: $violet-darker;
          }
        }
      }
    }

    .weather-right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      flex-basis: 40%;
      background-color: $violet-darker;

      .weather-draw {
        margin: 0 auto;
        width: 250px;
      }

      .cloud-1 {
        position: absolute;
        color: $violet-lighter;
        top: 45%;
        left: -30px;
        font-size: 600%;
        z-index: 1;
      }

      .cloud-2 {
        position: absolute;
        color: $violet-lighter;
        top: 30%;
        right: 2px;
        font-size: 700%;
      }

      .overview {
        display: flex;
        flex-direction: column;

        .overview-header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .overview-header-today {
            text-align: center;

            .overview-header-today-title {
              color: #fff;
              font-size: 300%;
              font-weight: 700;
            }

            .overview-header-today-date {
              font-size: 90%;
              font-weight: 300;
              color: #fff;
            }
          }
        }

        .overview-header-icon {
          text-align: center;
          img {
            width: 60px;
          }
        }

        .overview-temp {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .overview-temp-current {
            font-size: 500%;
            font-weight: 400;
            color: #fff;
          }

          .over-view-temp-sign {
            font-size: 150%;
            font-weight: 400;
            margin-top: 0.8rem;
            margin-left: 0.5rem;
            color: #fff;
          }
        }

        .overview-humiditydew {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          color: #fff;

          .overview-humidity {
            font-size: 90%;
            font-weight: 300;

            .fa-humidity {
              font-size: 200%;
            }
          }

          .overview-dewpoint {
            font-size: 90%;
            font-weight: 300;

            .fa-dewpoint {
              font-size: 200%;
            }
          }
        }

        .overview-country {
          text-align: center;

          .overview-country-text {
            font-size: 130%;
            font-weight: 400;
            color: #fff;
          }
        }
      }

      .overview-more-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 100%;
        font-weight: 300;
        color: #fff;

        // .overview-more-info-feels-like {
        // }

        // .overview-more-info-sunset {
        // }

        // .overview-more-info-sunrise {
        // }
      }
    }
  }
}
