.weather-container {
  width: 100vw;
  height: 100vh;
}

.weather-container .weather-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: inherit;
  height: inherit;
}

.weather-container .weather-wrapper .weather-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: #e3f6fe;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.weather-container .weather-wrapper .weather-left .form-wrapper {
  width: 100%;
  border-radius: 0.5rem;
}

.weather-container .weather-wrapper .weather-left .form-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.weather-container .weather-wrapper .weather-left .form-wrapper .form .input-group {
  position: relative;
}

.weather-container .weather-wrapper .weather-left .form-wrapper .form .input-group .fa-search-location {
  position: absolute;
  top: 30%;
  left: 20px;
  font-size: 120%;
  color: #110e3c;
}

.weather-container .weather-wrapper .weather-left .form-wrapper .form .input-group .search-input {
  font-size: 100%;
  padding: 1rem 1rem 1rem 3rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.weather-container .weather-wrapper .weather-left .form-wrapper .form .search-submit {
  font-size: 100%;
  font-weight: 700;
  padding: 1rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #f57f17;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.weather-container .weather-wrapper .weather-left .main-title-wrapper .main-title-text {
  font-size: 200%;
  font-weight: 400;
  color: #1d1d46;
}

.weather-container .weather-wrapper .weather-left .main-title-wrapper .main-title-text .main-title-text-bold {
  font-weight: 700;
  color: #110e3c;
}

.weather-container .weather-wrapper .weather-left .cities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-container .weather-wrapper .weather-left .cities-list .city-item {
  text-align: center;
  width: 100%;
  max-width: 180px;
  height: 100%;
}

.weather-container .weather-wrapper .weather-left .cities-list .city-item .city-img {
  border-radius: 1rem;
  width: 95%;
  cursor: pointer;
}

.weather-container .weather-wrapper .weather-left .cities-list .city-item .city-name {
  font-size: 90%;
  font-weight: 700;
  color: #110e3c;
}

.weather-container .weather-wrapper .weather-left .cities-list .city-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #110e3c;
  border-radius: 1rem;
  height: 90%;
}

.weather-container .weather-wrapper .weather-left .cities-list .city-add .city-add-text {
  font-size: 110%;
  font-weight: 400;
}

.weather-container .weather-wrapper .weather-left .weekly .weekly-title .weekly-title-text {
  font-size: 130%;
  font-weight: 400;
  color: #110e3c;
}

.weather-container .weather-wrapper .weather-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: #110e3c;
}

.weather-container .weather-wrapper .weather-right .weather-draw {
  margin: 0 auto;
  width: 250px;
}

.weather-container .weather-wrapper .weather-right .cloud-1 {
  position: absolute;
  color: #1d1d46;
  top: 45%;
  left: -30px;
  font-size: 600%;
  z-index: 1;
}

.weather-container .weather-wrapper .weather-right .cloud-2 {
  position: absolute;
  color: #1d1d46;
  top: 30%;
  right: 2px;
  font-size: 700%;
}

.weather-container .weather-wrapper .weather-right .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-container .weather-wrapper .weather-right .overview .overview-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-container .weather-wrapper .weather-right .overview .overview-header .overview-header-today {
  text-align: center;
}

.weather-container .weather-wrapper .weather-right .overview .overview-header .overview-header-today .overview-header-today-title {
  color: #fff;
  font-size: 300%;
  font-weight: 700;
}

.weather-container .weather-wrapper .weather-right .overview .overview-header .overview-header-today .overview-header-today-date {
  font-size: 90%;
  font-weight: 300;
  color: #fff;
}

.weather-container .weather-wrapper .weather-right .overview .overview-header-icon {
  text-align: center;
}

.weather-container .weather-wrapper .weather-right .overview .overview-header-icon img {
  width: 60px;
}

.weather-container .weather-wrapper .weather-right .overview .overview-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-container .weather-wrapper .weather-right .overview .overview-temp .overview-temp-current {
  font-size: 500%;
  font-weight: 400;
  color: #fff;
}

.weather-container .weather-wrapper .weather-right .overview .overview-temp .over-view-temp-sign {
  font-size: 150%;
  font-weight: 400;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  color: #fff;
}

.weather-container .weather-wrapper .weather-right .overview .overview-humiditydew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.weather-container .weather-wrapper .weather-right .overview .overview-humiditydew .overview-humidity {
  font-size: 90%;
  font-weight: 300;
}

.weather-container .weather-wrapper .weather-right .overview .overview-humiditydew .overview-humidity .fa-humidity {
  font-size: 200%;
}

.weather-container .weather-wrapper .weather-right .overview .overview-humiditydew .overview-dewpoint {
  font-size: 90%;
  font-weight: 300;
}

.weather-container .weather-wrapper .weather-right .overview .overview-humiditydew .overview-dewpoint .fa-dewpoint {
  font-size: 200%;
}

.weather-container .weather-wrapper .weather-right .overview .overview-country {
  text-align: center;
}

.weather-container .weather-wrapper .weather-right .overview .overview-country .overview-country-text {
  font-size: 130%;
  font-weight: 400;
  color: #fff;
}

.weather-container .weather-wrapper .weather-right .overview-more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 100%;
  font-weight: 300;
  color: #fff;
}
/*# sourceMappingURL=Weather.css.map */