$water-color: #4293ec;

.weather-daily {
  display: flex;
  flex-direction: row;

  .table {
    flex-basis: 70%;
    text-align: left;

    // .table-head {
    //   tr {
    //     th {
    //       font-size: 100%;
    //       font-weight: 400;
    //     }
    //   }
    // }

    .table-body {
      tr {
        td {
          font-size: 100%;
          font-weight: 300;
          .fa-tint {
            color: $water-color;
          }
        }
      }
    }
  }

  .chart-wrapper {
    flex-basis: 30%;
  }
}
