.weather-daily {
  display: flex;
  flex-direction: row;

  .table {
    flex-basis: 70%;
    text-align: left;

    .table-head {
    }

    .table-body {
      tr {
        td {
          .fa-tint {
            color: #4293ec;
          }
        }
      }
    }
  }

  .chart-wrapper {
    flex-basis: 30%;
  }
}
