$submit-background: #f57f17;
$disabled-background: #f9ac68;
$violet-darker: #110e3c;

.form-wrapper {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    .input-group {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      width: 100%;

      .fa-search-location {
        position: absolute;
        top: 25%;
        left: 10px;
        font-size: 150%;
        color: $violet-darker;
      }

      .search-input {
        font-family: "Roboto", IRANSans;
        flex-basis: 80%;
        font-size: 100%;
        padding: 0.5rem 0.5rem 0.5rem 3rem;
        border: none;
        outline: none;
        background-color: #fff;
      }

      .search-submit {
        flex-basis: 20%;
        font-size: 100%;
        font-weight: 700;
        padding: 0.5rem;
        border: none;
        outline: none;
        color: #fff;
        background-color: $submit-background;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
          background-color: $disabled-background;
        }
      }
    }
  }
}
// MEDIA QUERIS
@media all and (max-width: "1200px") {
  .weather-container {
    .weather-wrapper {
      .weather-left {
        .weather-left-container {
          .form-wrapper {
            .form {
              .input-group {
                .fa-search-location {
                  position: absolute;
                  top: 25%;
                  left: 10px;
                  font-size: 150%;
                }

                .search-input {
                  font-size: 100%;
                }

                .search-submit {
                  font-size: 100%;
                  font-weight: 400;
                  padding: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
// MEDIA QUERIS
@media all and (max-width: "768px") {
  .weather-container {
    .weather-wrapper {
      .weather-left {
        .weather-left-container {
          .form-wrapper {
            .form {
              .input-group {
                .fa-search-location {
                  position: absolute;
                  top: 25%;
                  left: 10px;
                  font-size: 130%;
                }

                .search-input {
                  font-size: 90%;
                }

                .search-submit {
                  font-size: 90%;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}
